<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin - Song Management</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="app-title">Song Management</div>
<div class="admin-content">
  <table class="admin-table">
    <thead>
    <tr>
      <th>Song Title</th>
      <th>Creator</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody th:each="song : ${songs}">
    <tr>
      <td th:text="${song.fileName}"></td>
      <td th:text="${song.user.email}"></td>
      <td th:text="${song.dateCreated}"></td>
      <td>
        <button th:onclick="'deleteSong('+${song.id}+');'">Delete</button>
        <button th:onclick="'editSong('+${song.id}+');'">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="/scripts/admin-functions.js"></script>
</body>
</html>
